@import "./variables.scss";
@import "./reset.scss";
@import "./button.scss";
@import "./header.scss";
@import "./popup.scss";
@import "./panel.scss";

#codiga-app-root,
#codiga-popup-root {
  p {
    font-family: $font-body;
    font-size: 12px;
    font-weight: 400;
    line-height: 20px;
    color: $color-black;
    margin: 0;
  }

  a {
    color: $color-rose;
    text-decoration: none;

    &:hover {
      color: $color-rose;
      text-decoration: underline;
    }
  }

  button:focus {
    outline: 0;
  }

  input,
  select {
    height: 42px;
    width: 100%;
    border-radius: 4px;
    border: 1px solid $color-neutral-50;
    outline: 0;
    padding: 8px 16px;
    font-family: $font-body;
    font-size: 14px;
    line-height: 26px;
    box-sizing: border-box;

    &:hover,
    &:active,
    &:focus {
      border-color: $color-rose;
    }

    &:invalid {
      border-color: $color-red;
    }
  }

  select {
    cursor: pointer;
    width: 200px;
    appearance: none;
    background-image: linear-gradient(
        45deg,
        transparent 50%,
        $color-neutral-50 50%
      ),
      linear-gradient(135deg, $color-neutral-50 50%, transparent 50%);
    background-position: calc(100% - 20px) calc(1em + 3px),
      calc(100% - 16px) calc(1em + 3px), calc(100% - 0.5em) 0.5em;
    background-size: 4px 4px, 4px 4px;
    background-repeat: no-repeat;
  }
}
