body {
    margin: 0;
    font-family: "Open Sans"
}

#popup {
    min-width: 280px;
    
    #popup-header {
        border-bottom: 1px solid rgba(0,0,0,.06);
        padding: 8px 16px;        ;
        background: #300623;
        color: white;
        display: flex;
        align-items: center;

        img {
            max-width: 20px;
            max-height: 27px;
            margin-right: .5rem;
        }

        #codiga {
            font-size: 1.2rem;
            font-weight: 600;
        }

        #for-chrome {
            font-size: .9rem;
            margin-left: .5rem;
            color: #FC8926;
            font-weight: bolder;
        }
    }

    #popup-body {
        padding: 8px 16px 16px;
        font-size: .8rem;
        color: #1A1A1A;

        li {
            margin: .4rem 0;
        }

        #good-news-text {
            margin: 8px 0px;
        }
        
        button {
            background: $gradient-1;
            border-radius: 100px;
            color: white;
            font-weight: 600;
            font-size: .8rem;
            border: none;
            padding: .5rem 1.3rem;
            cursor: pointer;
            
            &[disabled]{
                background: #cecece;
                color: white;
            }
        }
    }
}