body {
    margin: 0;
}

#popup {
    min-width: 280px;
    min-height: 300px;   
    
    #popup-header {
        border-bottom: 1px solid rgba(0,0,0,.06);
        padding: 1rem;
        background: #300623;
        color: white;
        display: flex;
        align-items: bottom;

        img {
            max-width: 20px;
            max-height: 27px;
            margin-right: .5rem;
        }

        #codiga {
            font-size: 1.2rem;
            font-weight: 600;
        }

        #for-chrome {
            font-size: .9rem;
            margin-left: .5rem;
            color: #FC8926;
            font-weight: bolder;
            margin-top: auto;

        }
    }

    #popup-body {
        padding: 1rem;
        font-size: .8rem;
        color: #1A1A1A;
        display: flex;
        flex-direction: column;

        li {
            margin: .4rem 0;
        }

        input {
            width: 100%;
            height: 1.2rem;
            border: none;
            background: #f2f2f2;
            padding: 12px;
            border-radius: 3px;
            width: 250px;
            font-size: 14px;
        }

        button {
            background: linear-gradient(90deg, #F81C9D 0%, #FC8926 100%);
            border-radius: 100px;
            color: white;
            font-weight: 600;
            margin: .5rem auto;
            font-size: .8rem;
            border: none;
            padding: .5rem 1.3rem;
            cursor: pointer;
            
            &[disabled]{
                background: #cecece;
                color: white;
            }
        }
    }
}